doctype html
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="../../stylesheets/font.css")
		link(rel="stylesheet", href="../../stylesheets/base.css")
		title 結衣
		script(src="https://www.youtube.com/iframe_api")
		script.
			require('coffee-script/register')
			require('../../scripts/app.coffee')
	body
		div#player
		application